.control-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5em;
}

h2.date-string {
  margin: 0 0.5em 0 0;
  padding: 0;
  display: inline-block;
}

mat-form-field.calendar {
  width: 1px;
  visibility: hidden;
  margin: 0;
  padding: 0;
}
